* {
    font-family: "CodeNewRoman Nerd Font";
    font-size: 16px;
}

window#waybar {
    background-color: transparent;
}

.top .modules-center {
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 36px;
    border-radius: 18px;
} 

.top .modules-left {
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 36px;
    border-radius: 0px 18px 18px 0px;
} 

.modules-right {
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 36px;
    border-radius: 18px 0px 0px 18px;
} 

widget {
    background-color: transparent;
}

button {
    border-color: transparent;
}

button:hover {
    background-color: transparent;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#pulseaudio,
#custom-disto,
#custom-media {
    margin: 0px 10px 0px 10px;
    color: #00aaff;
}

#workspaces button {
    border-width: 0.0;
    border-radius: 18px;
    background-color: transparent;
    color: #00aaff;
}

#workspaces button:hover {
    /* Use GTK default hover */
}

#workspaces button.active {
    background: #00aaff;
    color: #ffffff;
}

#workspaces button.urgent {
    color: #ff0000;
}

#taskbar button {
    border-radius: 18px;
}

#custom-distro {
    border-radius: 0px 18px 18px 0px;
    min-width: 32px;
    font-size: 20px;
    padding: 0px 10px 0px 0px;
    margin: 0px 10px 0px 0px;
    background-color: #00aaff;
    color: #ffffff;
}

#battery.charging, 
#battery.plugged {
    color: #00aaff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio {
    background-color: transparent;
}

#tray {
    padding: 0px 15px;
    min-width: 36px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
    background-color: #eb4d4b;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

