.dashboard {
    background: rgba(0, 0, 0, 0.4);
}

.dashboard .container {
    margin: 5px;
    padding: 5px;

    background: rgba(0, 0, 0, 0.8);

    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #00aaff;
}

// Calendar
.dashboard calendar {
    all: unset;
}

.dashboard calendar .button:hover {
    background-color: #00aaff;
    color: #ffffff;
}

.dashboard calendar :selected {
    background-color: #00aaff;
    color: #ffffff;
}

@import "widgets.scss"
