// Clock
.dashboard .clock .year_month {
    font-size: 32px;
}

.dashboard .clock .time {
    font-size: 54px;
}

.dashboard .clock .day {
    font-size: 32px;
}

// Player
.dashboard .play_btn {
    font-size: 48px;
}

.dashboard .next_btn {
    font-size: 32px;
}

.dashboard .prev_btn {
    font-size: 32px;
}

.dashboard .track_album {
    font-size: 10px;
}

.dashboard .track_artist {
    font-size: 10px;
}

// Power Menu
.dashboard .powermenu {
    margin: 5px;
}

.dashboard .powermenu .btn {
    background: rgba(0, 0, 0, 0.8);

    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #00aaff;

}

.dashboard .powermenu .btn label {
    font-size: 48px;
    color: #00aaff;
}

.dashboard .powermenu .btn:hover {
    background: #00aaff;
}

.dashboard .powermenu .btn:hover label {
    color: #ffffff;
}

// Meters
.dashboard .meter {
    padding: 10px;
}

.dashboard .meter .label {
    font-size: 32px;
}

.dashboard .meter slider {
    all: unset;
}

.dashboard .meter scale trough {
    background: #000000;
    min-height: 10px;
}

.dashboard .meter scale trough highlight {
    background: #00aaff;
    min-height: 10px;
}

// Todo list
.dashboard .todo_list {
    padding: 10px;
}

.dashboard .todo_list .label {
    font-size: 32px;
}

