.powerboard {
    background: rgba(0, 0, 0, 0.6);
    font-size: 64px;
    margin: 5px;
}

.powerboard .container {
    padding: 40px;

    background: #00aaff;
    box-shadow: 0px 0px 50px #00aaff;

    border-radius: 10px;
}

.powerboard .sys_btn {
    background: transparent;
}

.powerboard .sys_btn label {
    font-size: 48px;
    color: #000000;
}

.powerboard .sys_btn:hover label {
    color: #ffffff;
    text-shadow: 0px 0px 5px #ffffff;
}

